In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
# import seaborn as sns
import matplotlib.pyplot as plt
import japanize_matplotlib

In [2]:
df_2014register = pd.read_csv("data/2014_受付帳.csv")

C:\Users\GUESTUSER\AppData\Local\Temp\ipykernel_8936\2779536150.py:1: DtypeWarning: Columns (9,10,18,23,24,27,36,37,38,39,41) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2014register = pd.read_csv("data/2014_受付帳.csv")

In [3]:
df_2014register.head()

,register_num,register_date,register_type,reason,pref,city,new_or_existing,type,location,chiban,kaoku_number,land_num,other,lat,lon,size,building_coverage_ratio,floor_area_ratio,use_district,official_price,land_price,lat2,lon2,property_name,address,min_exclusive_area,max_exclusive_area,build_date,total_units,ground_floors,underground_floors,parking_spaces,main_direction,land_area,building_area,total_floor_area,max_layout,min_layout,property_type,structure,id,line_name,station_name,on_foot
0,13693,2014-04-25,連先,所有権移転売買,東京都,新宿区,既,区分建物,新宿区新宿2丁目,NaN,90-1-37,90-1-37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35.688816,139.709028,サニープラザ新宿御苑,東京都新宿区新宿2丁目2番10号,16.37,44.7,1985-03-01,50.0,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,マンション,SRC,2013676.0,東京メトロ丸ノ内線,新宿御苑前,1.0
1,3663,2014-07-04,連続,登記名義人の氏名等についての変更・更正,静岡県,賀茂郡河津町,既,建物,賀茂郡河津町逆川,NaN,852-1,852-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.755969,138.955556,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,14468,2014-11-25,連続,所有権移転・相続,静岡県,伊東市,既,建物,伊東市荻,NaN,536-74,536-74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.936907,139.074284,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1319,2014-02-04,単独,所有権移転・相続,静岡県,伊東市,既,区分建物,伊東市新井,NaN,484-30-12,484-30-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.969029,139.108893,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2376,2014-03-03,単独,所有権移転・相続,静岡県,伊東市,既,建物,伊東市玖須美元和田,NaN,700-117,700-117,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.956201,139.102280,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df_2014register['register_date'].str[:4].unique()

array(['2014'], dtype=object)

In [5]:
df_2014register.describe()

,other,lat,lon,size,building_coverage_ratio,floor_area_ratio,official_price,land_price,lat2,lon2,min_exclusive_area,max_exclusive_area,total_units,ground_floors,underground_floors,parking_spaces,main_direction,land_area,building_area,total_floor_area,id,on_foot
count,2.167125e+06,2.895792e+06,2.895792e+06,2.671534e+06,1.609974e+06,1.609974e+06,2.845472e+06,2.621214e+06,1.978781e+06,1.978781e+06,1.226660e+06,1.231211e+06,1.326531e+06,1.336283e+06,549102.000000,899779.000000,0.0,1.050532e+06,1.037290e+06,1.039947e+06,1.336369e+06,3.988625e+06
mean,2.884368e+00,3.485361e+01,1.352467e+02,7.861239e+02,6.846511e+01,2.242596e+02,3.148786e+05,1.171601e+08,3.564637e+01,1.392812e+02,4.484728e+01,8.269517e+01,1.606363e+02,1.471956e+01,1.323734,98.404129,NaN,3.420368e+03,1.460807e+03,1.812730e+04,1.884888e+06,4.242919e+01
std,2.187714e+01,5.217906e+00,1.844470e+01,1.420711e+04,2.918355e+02,3.152011e+02,1.265069e+06,1.638722e+09,9.367627e-01,1.798278e+00,2.507049e+01,4.991930e+01,2.333389e+02,1.173381e+01,0.576917,160.088594,NaN,5.462185e+03,1.975120e+03,3.134814e+04,3.769001e+05,2.288395e+02
min,1.000000e+00,-1.000000e+00,-1.000000e+00,7.195000e-04,3.000000e+01,5.000000e+01,1.650000e+03,8.692820e+01,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000,1.000000,NaN,1.500000e+01,8.000000e+00,1.300000e+01,5.690630e+05,1.000000e+00
25%,1.000000e+00,3.487840e+01,1.377585e+02,7.978517e+01,5.000000e+01,1.500000e+02,2.410000e+04,5.203915e+06,3.564487e+01,1.396317e+02,3.022000e+01,5.808000e+01,4.000000e+01,8.000000e+00,1.000000,7.000000,NaN,4.732100e+02,2.954500e+02,2.344280e+03,1.597155e+06,7.000000e+00
50%,2.000000e+00,3.567178e+01,1.393614e+02,1.703478e+02,6.000000e+01,2.000000e+02,5.880000e+04,1.373830e+07,3.568592e+01,1.397246e+02,4.226000e+01,7.801000e+01,6.700000e+01,1.100000e+01,1.000000,25.000000,NaN,1.158930e+03,6.418900e+02,4.756880e+03,1.781989e+06,1.200000e+01
75%,3.000000e+00,3.596922e+01,1.397517e+02,3.477379e+02,6.000000e+01,2.000000e+02,3.110000e+05,3.677799e+07,3.572100e+01,1.397812e+02,5.764000e+01,9.723000e+01,1.590000e+02,1.500000e+01,2.000000,106.000000,NaN,3.806960e+03,1.692220e+03,1.646704e+04,2.149639e+06,2.500000e+01
max,2.647900e+04,4.288997e+01,1.422214e+02,4.165015e+06,9.999000e+03,9.999000e+03,5.570000e+07,2.529057e+11,4.288997e+01,1.422085e+02,4.107840e+03,4.489000e+03,2.799000e+03,5.800000e+01,6.000000,1384.000000,NaN,2.721120e+05,2.065394e+04,3.833403e+05,3.071293e+06,1.185500e+04

In [6]:
df_2014register.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4876536 entries, 0 to 4876535
Data columns (total 44 columns):
 #   Column                   Dtype
---  ------                   -----
 0   register_num             object
 1   register_date            object
 2   register_type            object
 3   reason                   object
 4   pref                     object
 5   city                     object
 6   new_or_existing          object
 7   type                     object
 8   location                 object
 9   chiban                   object
 10  kaoku_number             object
 11  land_num                 object
 12  other                    float64
 13  lat                      float64
 14  lon                      float64
 15  size                     float64
 16  building_coverage_ratio  float64
 17  floor_area_ratio         float64
 18  use_district             object
 19  official_price           float64
 20  land_price               float64
 21  lat2                     float64
 22  lon2                     float64
 23  property_name            object
 24  address                  object
 25  min_exclusive_area       float64
 26  max_exclusive_area       float64
 27  build_date               object
 28  total_units              float64
 29  ground_floors            float64
 30  underground_floors       float64
 31  parking_spaces           float64
 32  main_direction           float64
 33  land_area                float64
 34  building_area            float64
 35  total_floor_area         float64
 36  max_layout               object
 37  min_layout               object
 38  property_type            object
 39  structure                object
 40  id                       float64
 41  line_name                object
 42  station_name             object
 43  on_foot                  float64
dtypes: float64(22), object(22)
memory usage: 1.6+ GB

In [7]:
len(df_2014register)

4876536

In [8]:
len(df_2014register["register_num"].unique())

119884